################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TwoNumberSum/bin/*
/TwoNumberSum/obj/*
/.vs/CompetitiveProgramming/v16
/ValidateSubSequence/bin/*
/ValidateSubSequence/obj/*
/SortedSquaredArray/bin/Debug/netcoreapp3.1
/SortedSquaredArray/obj
/TournamentWinner/obj
/Non-Constructible Change/obj
/Non-Constructible Change/bin/Debug/netcoreapp3.1
/ClosestValueInBST/bin/Debug/netcoreapp3.1
/ClosestValueInBST/obj/Debug/netcoreapp3.1
/ClosestValueInBST/obj
/.vs/CompetitiveProgramming/DesignTimeBuild
/BranchSums/obj
/BranchSums/bin/Debug/netcoreapp3.1
