################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TwoNumberSum/bin/*
/TwoNumberSum/obj/*
/.vs/CompetitiveProgramming/v16
/ValidateSubSequence/bin/*
/ValidateSubSequence/obj/*
/SortedSquaredArray/bin/Debug/netcoreapp3.1
/SortedSquaredArray/obj
/TournamentWinner/obj
